<div class="panel">
    <div class="state"><br><i class="fa fa-unlock-alt"></i><br>
        <h1>Ingresar</h1>
        <h5>Nazareno TN</h5>
    </div>
    <form ngNativeValidate #f="ngForm" (onSumbit)="login()">
        <div class="form">
            <input [ngModel]="usuario" name="usuario" placeholder='Usuario' type="text">
            <input ngModel name="password" placeholder='Contraseña' type="password">
            <div class="login">
                <button class="btn btn-lg text-uppercase btn-rounded col" type="submit">Aceptar</button>
            </div>
        </div>

        <div class="fack"><a routerLink="/home"><i class="fa fa-question-circle"></i>¿Olvidaste tu contraseña?</a></div>
    </form>
</div>