<div class="row">
    <div class="col-md-9 offset-md-4 col-xs-12">
        <div class="x_content">
            <form class="form-horizontal form-label-left">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input [(ngModel)]="evento.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre del evento" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Ubicación</label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input [(ngModel)]="evento.lugar" name="lugar" type="text" class="form-control" placeholder="Ubicación" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha inicio</label>
                    <div class="col-md-3 col-sm-9 col-xs-12">
                        <input [(ngModel)]="evento.fecha_ini" name="fecha_ini" type="date" class="form-control" placeholder="" required>
                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha fin</label>
                    <div class="col-md-3 col-sm-9 col-xs-12">
                        <input [(ngModel)]="evento.fecha_fin" name="fecha_fin" type="date" class="form-control" placeholder="" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Hora (24h)</label>
                    <div class="col-md-3 col-sm-9 col-xs-12">
                        <input [(ngModel)]="evento.hora" name="hora" type="time" class="form-control" placeholder="20:00" required>

                    </div>
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Tipo evento</label>
                    <div class="col-md-3 col-sm-9 col-xs-12">
                        <select [(ngModel)]="evento.codtipoc" name="codtipoc" class="form-control" id="inputGroupSelect01" required>
                            <option *ngFor="let tipo of tipocamps" [value]="tipo.codtipoc">{{tipo.nombre}}</option>
                        </select>
                    </div>
                </div>

                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-3 col-sm-9 col-xs-12 col-md-offset-2">
                        <button [routerLink]="['/evento']" routerLinkActive="router-link-active" type="button" class="btn btn-danger btn-block">Cancel</button>
                    </div>
                    <div class="col-md-3 col-sm-9 col-xs-12 col-md-offset-2">
                        <button type="submit" class="btn btn-success btn-block" (click)="addevento()">Submit</button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>