<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Lista <small>Actividades</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-md-12">
                    <a [routerLink]="['/addevento']" routerLinkActive="router-link-active" class="btn btn-primary btn-flat"><span class="fa fa-plus"></span> Registrar nuevo</a>
                </div>
            </div>
            <p class="text-muted font-13 m-b-30">
                Estas actividades se los ponemos en las manos de Dios para que el nos guie
            </p>
            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nro evento</th>
                        <th>Nombre</th>
                        <th>Lugar</th>
                        <th>Fecha inicio</th>
                        <th>Fecha fin</th>
                        <th>Hora</th>
                        <th>Encargado</th>
                        <th>tipo evento</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let evento of eventos ">
                        <td> {{evento.codevento }} </td>
                        <td> {{evento.nombre }} </td>
                        <td> {{evento.lugar }} </td>
                        <td> {{evento.fecha_ini }} </td>
                        <td> {{evento.fecha_fin }} </td>
                        <td> {{evento.hora }} </td>
                        <td> {{evento.organizador }} </td>
                        <td> {{evento.tipo_evento }} </td>
                        <td>
                            <button (click)="eliminarEvento(evento.codevento)" class="btn btn-danger btn-info "><span class="fa fa-trash "></span> Eliminar </button>
                            <button (click)="seleccionarevento(evento.codevento) " class="btn btn-info btn-info "><span class="fa fa-pencil-square-o "></span> Modificar </button>
                            <button (click)="seleccionarevento(evento.codevento) " class="btn btn-success btn-info "><span class="fa fa-check "></span> Concluido </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Actividades <small>Realizados</small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            <p class="text-muted font-13 m-b-30">
                Estas actividades ya fueron realizados con la dirección de Dios y la colaboración de los miembros
            </p>
            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Lugar</th>
                        <th>Fecha fin</th>
                        <th>Nro Simpatizantes</th>
                        <th>Encargado</th>
                        <th>Comentario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let evento of simpatizantes ">
                        <td> {{evento.codsimpatizante }} </td>
                        <td> {{evento.nombre }} </td>
                        <td> {{evento.apellido }} </td>
                        <td> {{evento.direccion }} </td>
                        <td> {{evento.telefono }} </td>
                        <td> {{evento.gps }} </td>
                        <td> {{evento.padre_espiritual }} </td>
                        <td> {{evento.codsexo }} </td>
                        <td> {{evento.comentario }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>